/* Estilos generales para el carrito desplegable */
.carrito-desplegable {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50px; /* Ajusta la distancia desde la parte superior */
    right: 20px;
    width: 300px;
    max-height: 400px; /* Limita la altura del carrito */
    overflow-y: auto; /* Agrega desplazamiento si el contenido excede el contenedor */
    display: none; /* Inicialmente oculto */
    z-index: 1000; /* Asegura que se muestre por encima de otros elementos */
    transition: all 0.3s ease-in-out; /* Transición suave */
    border-radius: 8px; /* Bordes redondeados */
}

/* Cuando el carrito es visible */
.carrito-desplegable.visible {
    display: block;
}

/* Título del carrito */
.carrito-desplegable h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

/* Estilo de los productos en el carrito */
#lista-carrito {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#lista-carrito li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo para los botones eliminar */
button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover {
    background-color: #c82333;
}

/* Estilo para el total */
#total-carrito {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    color: #28a745;
}

/* Botón carrito en la navbar */
#boton-carrito {
    position: relative;
    padding: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
}

#boton-carrito img {
    width: 50px;
    height: 50px;
}

/* Contador de productos en el carrito */
#contador-carrito {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: red;
    color: transparent;
    font-size: 12px;
    padding: 0.3em 0.6em;
    border-radius: 50%;
}

/* Ocultar carrito */
.oculto {
    display: none;
}

.scroll{
    background-color: aliceblue;
    box-shadow: .1rem .2rem .3rem #333;
}
.scroll img{
    filter: invert(15%);
}           
.scroll h1{
    color: #141C29;
}

/* Header al hacer scroll */
header.scroll {
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
}
