#productos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width: 800px;*/
    margin: 0 auto;
    gap: 20px;
}


.tarjeta-producto{
    max-width: 200px;
    text-align: center;
    background-color:darkgray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.228);
    transition: 200ms;
    font-family: 'Times New Roman', Times, serif;


}

.tarjeta-producto:hover {
    translate: 0 -10px;
    box-shadow: 0 10PX 5px rgba(0, 0, 0, 0.228);
}


.tarjeta-producto img{
    width:30%;
    aspect-ratio: 1,5;
    background-color:#fff;
    border-radius: 10px;
    image-rendering:optimizeQuality;
    image-resolution: 300dpi;
}